<div id="base" class="row p-3 darker">
  <div class="col-2 p-0">
    <div class="row">
      <button *ngIf="!forum.subscribed" class="col-12 p-0 py-2 btn btn-success" (click)="subscribe()">Subscribe</button>
      <button *ngIf="forum.subscribed" class="col-12 p-0 py-2 btn btn-danger" (click)="unsubscribe()">Unsubscribe</button>
    </div>
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col-12">
        <h3>
          <a href="forum/{{forum.uuid}}/hot">{{forum.name}}</a>
        </h3>
      </div>
      <div id="description" class="col-12 p-2 pl-3">
        <p>{{forum.description}}</p>
      </div>
      <div class="col-8">
        <span>
          Created by
          <a href="user/{{forum.authorUuid}}">{{forum.authorName}}</a>
          {{forum.timeAgo}}
        </span>
      </div>
      <span class="col-4 text-right">{{forum.subscribers}} subscribers</span>
    </div>
  </div>
</div>
