i {
    font-size: 40px;
}

#main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 'title' 'info';

    #title {
        grid-area: title;
    }

    #info {
        grid-area: info;
    }
}