<div id="base" class="row w-100 m-0 p-0 pb-2 darker">

  <div id="voteBox" class="col-1 p-0">
    <i id="upArrow" (click)="upvote()" [class.upvoted]="post.myVote == 'UP'" [class.hidden]="post.myVote == 'DOWN'"
      class="material-icons">
      keyboard_arrow_up
    </i>
    <span id="score">{{post.score}}</span>
    <i id="downArrow" (click)="downvote()" [class.downvoted]="post.myVote == 'DOWN'" [class.hidden]="post.myVote == 'UP'"
      class="material-icons">
      keyboard_arrow_down
    </i>
  </div>

  <div class="col-11 p-0">
    <div id="main" class="h-100">
      <div id="title" class="row w-100 m-0 p-2">
        <a class="col-12 p-0" href="post/{{post.uuid}}/hot">{{post.title}}</a>
      </div>
      <div id="info" class="row w-100 p-0 m-0 pl-2">
        <div class="col-12 p-0">
          <span>
            submitted {{post.timeAgo}} by
            <a href="user/{{post.authorUuid}}">
              {{post.authorName}}
            </a>
            to
            <a href="forum/{{post.forumUuid}}/hot">
              {{post.forumName}}
            </a>
          </span>
        </div>
        <div class="col-12 p-0">
          <a href="post/{{post.uuid}}"><strong>{{post.commentCount}} comments</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>
